<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace = "com.rainng.coursesystem.dao.mapper.RoomMapper">
    <resultMap id="RoomMap" type="com.rainng.coursesystem.model.entity.Room">
        <id property="room_id" column="room_id"/>
        <result property="rm_hotel_id" column="rm_hotel_id"/>
        <result property="room_type" column="room_type"/>
        <result property="room_describe" column="room_describe"/>
        <result property="room_status" column="room_status"/>
        <result property="rm_order_id" column="rm_order_id"/>
        <result property="rm_breakfast_type" column="rm_breakfast_type"/>
    </resultMap>

    <select id="findByHid" resultMap="RoomMap">
        select * from ht_room where rm_hotel_id = #{rm_hotel_id}
    </select>
</mapper>